extends ./default.jade

block content
  .blog-post
    h2.blog-post-title= page.title
    .blog-post-meta
      p Posted on #{$displayDate(page.date)}
    .blog-post-content
      != content

  .blog-nav
    - var idx = file.posts.indexOf(page)

    ul.pager
      if $hasPrev(idx)
        - var prev = file.posts[idx - 1]
        li.previous
          a(href="/#{prev.path}") &larr; #{prev.title}
      if $hasNext(idx)
        - var next = file.posts[idx + 1]
        li.next
          a(href="/#{next.path}") #{next.title} &rarr;
